<%- include('./partials/header.ejs') %>
<h1 class="display-3 my-3">Be healthy!</h1>
<div class="row g-3 pb-3">
  <div class="col-lg">
    <p class="lead">Keep in touch with yourself by using Healthylog. Simply log your behavior twice a day, and we'll use the data to construct weekly and monthly summaries for you.</p>
    <% if(!data.loggedInAs){ %>
        <a href="/auth/registration" class="btn-link text-success">Create an account today!</a>
    <% } %> 
  </div>
  <div class="col-lg">
    <div class="card">
      <div class="card-body text-center">
        <h3 class="card-title">Mood of all users</h3>
        <div class="row my-4">
          <div class="col">
            <h4 class="text-muted">yesterday</h4>
            <div class="display-4">
              <% if(data.mood.yesterday){ %><%= parseFloat(data.mood.yesterday).toFixed(1) %><% } else { %>–<% } %>  
            </div>
          </div>
          <div class="col">
            <h4 class="text-muted">today</h4>
            <div class="display-4">
              <% if(data.mood.today){ %><%= parseFloat(data.mood.today).toFixed(1) %><% } else { %>–<% } %>  
          </div>
          </div>
        </div>
        <p class="text-muted mb-0">
          <% if(data.mood.today == null){ %> 
            It's a new day!
          <% }else if(data.mood.today < (data.mood.yesterday || 0)){ %>
            Things are looking gloomy today
          <% } else { %>
            Things are looking bright today ~
          <% } %> 
        </p>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
