<%- include('./partials/header.ejs') %>
<div class="mx-auto" style="max-width: 696px;">
<h1 class="my-3">Registration</h1>
<form action="/auth/registration" method="POST" class="row g-2 my-3">
  <%- include('./partials/errors.ejs') %>
  <div class="col-sm form-floating">
    <input type="email" name="email" id="email" class="form-control" value="<%= data.email %>" placeholder="Email" required>
    <label for="email">Email address</label>
  </div>
  <div class="col-sm form-floating">
    <input type="password" id="password" class="form-control" name="password" placeholder="Password" autocomplete="new-password" required>
    <label for="password">Password</label>
  </div>
  <div class="col-md-2  d-flex">
    <input type="submit" class="btn form-control btn-success" value="Sign up">
  </div>
</form>
<a href="./login" class="btn-link">Already have an account?</a>
</div>
<%- include('./partials/footer.ejs') %>
