<%- include('./partials/header.ejs') %>
<h1 class="my-3">My summary</h1>
<div class="row my-3 g-3" id="summary">

  <div class="col-sm">
    <ul class="list-group">
      <li class="list-group-item p-0">
        <input type="week" name="week" id="week" class="form-control border-0 p-3 fs-3" value="<%= data.week %>">
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div>Mood</div><div class="fs-4"><span id="week_mood"></span><span class="mx-1">/</span>5</div></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div>Sleep duration</div><div class="fs-4"><span id="week_sleep_duration"></span><span class="ms-1">h</span></div></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div>Sleep quality</div><div class="fs-4"><span id="week_sleep_quality"></span><span class="mx-1">/</span>5</div></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div>Exercise</div><div class="fs-4"><span id="week_exercise"></span><span class="ms-1">h</span></div></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div>Studying</div><div class="fs-4"><span id="week_studying"></span><span class="ms-1">h</span></div></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div>Eating</div><div class="fs-4"><span id="week_eating"></span><span class="mx-1">/</span>5</div></li>
    </ul>
  </div>

  <div class="col-sm">
    <ul class="list-group">
      <li class="list-group-item p-0">
        <input type="month" name="month" id="month" class="form-control border-0 p-3 fs-3" value="<%= data.month %>">
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div>Mood</div><div class="fs-4"><span id="month_mood"></span><span class="mx-1">/</span>5</div></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div>Sleep duration</div><div class="fs-4"><span id="month_sleep_duration"></span><span class="ms-1">h</span></div></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div>Sleep quality</div><div class="fs-4"><span id="month_sleep_quality"></span><span class="mx-1">/</span>5</div></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div>Exercise</div><div class="fs-4"><span id="month_exercise"></span><span class="ms-1">h</span></div></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div>Studying</div><div class="fs-4"><span id="month_studying"></span><span class="ms-1">h</span></div></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div>Eating</div><div class="fs-4"><span id="month_eating"></span><span class="mx-1">/</span>5</div></li>
    </ul>
  </div>

</div>
<%- include('./partials/footer.ejs') %>
